<div class="silc-accordion silc-accordion--{{ modifier }}" id="{{ id }}">
	{% for section in sections %}
		<div class="silc-accordion__section">
			<button id="{{ id }}-section-{{ loop.index }}-label" class="silc-accordion__label" aria-controls="{{ id }}-section-{{ loop.index }}-content">
				{{ section.title }}
			</button>
			<div class="silc-accordion__content" id="{{ id }}-section-{{ loop.index }}-content" aria-labelled-by="{{ id }}-section-{{ loop.index }}-label">
				<div class="silc-accordion__content-compartment">
					{{ section.content|raw }}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
