$button-background: transparent !default;
$button-color: inherit !default;
$button-font-family: inherit !default;
$button-font-weight: 400 !default;
$button-text-decoration: none !default;
$button-text-transform: none !default;
$button-border: none !default;
$button-text-align: center !default;
$button-padding: 0.75rem 1.25rem !default;
$button-transition: background 0.15s ease-in !default;

$button_hover-background: transparent !default;
$button_hover-color: inherit !default;
$button_hover-border: none !default;
