<div class="text-content">
	<h1>Heading Level 1 Lorem Ipsum Dolor</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae fuga rerum quibusdam. Corrupti incidunt impedit dolores itaque illo necessitatibus ullam nisi consequatur tempora? Necessitatibus, ipsum aspernatur iusto vero consectetur commodi?</p>
	<h2>Heading Level 2 Lorem Ipsum Dolor Sit Amet</h2>
	<p><a href="">Link text lorem ipsum</a> amet, consectetur adipisicing elit. Praesentium, dignissimos! Dolorem, saepe. Ducimus porro modi dolorum ipsa quisquam harum minus, sint similique, dolore quo voluptates ipsam autem accusamus id eum.</p>
	<h3>Heading Level 3 Lorem Ipsum Amet Consectetur</h3>
	<p><a href="" class="fancy-link">Fancy link text</a> sit amet consectetur adipisicing elit. Vel odio eius fugiat officiis id iure facere ratione magnam sunt quis maxime, minus, quos voluptas itaque quidem expedita voluptates reprehenderit magni.</p>
	<h4>Heading Level 4 Adipisicing Dolor Amet Sit</h4>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore tempore eaque possimus debitis adipisci nulla, dolorem assumenda, voluptatibus neque illum fugit excepturi reiciendis magni veniam in itaque aliquam. Eum, cumque.</p>
	<h5>Heading Level 5 Dolore Tempore Eaque Possimus</h5>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quidem ut expedita velit, exercitationem deserunt dignissimos sit atque et numquam accusamus. Asperiores obcaecati pariatur, quia nobis natus debitis repudiandae veniam.</p>
	<h6>Heading Level 6 Adipisicing Dolor Amet Sit</h6>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio dolorem rerum vel unde eaque, deserunt provident. Repudiandae quod voluptas tenetur ut voluptate explicabo praesentium iure perspiciatis, reiciendis nihil sed.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias rerum amet laborum, soluta at quidem, natus placeat corporis, saepe voluptatum debitis sunt voluptate minima omnis ipsum voluptatibus! Eveniet, explicabo delectus?</p>
	<ul>
		<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, provident quis illum iure atque ab iusto eos ad. Similique debitis, necessitatibus molestiae labore perspiciatis nostrum ad? Alias impedit maiores commodi?</li>
		<li>Quia animi nesciunt iure totam labore omnis, perferendis voluptatum ipsam porro vitae enim, saepe assumenda dolor quos. Consequatur accusamus perspiciatis minus voluptatibus corrupti. Natus porro dolorem odio doloremque asperiores quo.</li>
		<li>Velit, obcaecati nostrum. Commodi veritatis autem aliquid nemo soluta vero doloribus deleniti accusamus ut ad. Harum commodi repellendus maxime necessitatibus illo? Eos pariatur cumque similique nesciunt omnis porro impedit incidunt?</li>
		<li>Soluta, enim ipsum suscipit ea maiores consectetur magnam voluptatum sint! Hic magnam ducimus, itaque commodi optio ipsam? Ipsa expedita odit alias optio quas, maxime ut! Minus sunt ea quam architecto.
			<ul>
				<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum mollitia deleniti dolorem nostrum omnis suscipit quis? Accusamus soluta, incidunt aperiam fugiat necessitatibus quae blanditiis sit vel obcaecati sapiente reiciendis exercitationem.</li>
				<li>Qui eaque assumenda perferendis laudantium cupiditate eum officia, quibusdam dignissimos tempore aut repellat laborum porro, neque mollitia delectus asperiores modi culpa architecto voluptate quaerat. Tempora corporis atque quidem recusandae alias.</li>
				<li>Repudiandae commodi, modi cupiditate minus neque consequuntur animi architecto aliquid! Atque asperiores, aut, nulla ex molestias amet cumque iste enim sapiente suscipit repellat iusto! Aspernatur omnis iure corporis saepe consectetur.
					<ul>
						<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. At sed doloribus quaerat sunt numquam! Eligendi sequi provident nam! Cum fugit rem sed totam. Id omnis cum nemo temporibus neque numquam.</li>
						<li>Maxime porro architecto molestiae inventore ducimus iste, sunt atque laborum cum ipsa laboriosam asperiores, exercitationem debitis ipsam magni fugit facilis, eaque delectus dolor sequi. Non quis tempora corrupti similique cum.</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ol>
		<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam asperiores exercitationem itaque magni soluta! Voluptatum qui sapiente nam nisi assumenda quia nihil doloribus, libero fugiat deserunt aspernatur nulla sequi ullam?</li>
		<li>Ratione id atque dicta soluta aspernatur, ab officiis animi quas laboriosam labore blanditiis nostrum pariatur eum amet dolorem quos adipisci cupiditate modi quam odio quidem accusantium eos? Nesciunt, reprehenderit saepe!</li>
		<li>Pariatur, expedita, eius hic, eaque provident architecto nam ut molestias necessitatibus debitis aliquid facilis omnis tenetur dolor tempora explicabo ea aperiam quia culpa animi quae. Magnam quod porro dolores rerum.
			<ol>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, mollitia cupiditate molestias tenetur consequuntur deleniti asperiores, earum voluptas quisquam totam soluta nisi sapiente accusamus, ea odio possimus esse in amet.</li>
				<li>Minus velit, molestiae reiciendis eaque dolorem ullam id quos adipisci voluptas. Culpa voluptatibus repellendus quisquam dolorem assumenda, architecto nostrum eum nulla exercitationem dolorum amet, veritatis provident doloribus saepe, odio earum.</li>
			</ol>
		</li>
	</ol>
	{# Styled ol class uses CSS before pseudos instead of standard list style numbers to provide more control over styling the numbers. #}
	<ol class="styled-ol">
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, mollitia cupiditate molestias tenetur consequuntur deleniti asperiores, earum voluptas quisquam totam soluta nisi sapiente accusamus, ea odio possimus esse in amet.</li>
		<li>Minus velit, molestiae reiciendis eaque dolorem ullam id quos adipisci voluptas. Culpa voluptatibus repellendus quisquam dolorem assumenda, architecto nostrum eum nulla exercitationem dolorum amet, veritatis provident doloribus saepe, odio earum.</li>
	</ol>
</div>