@import "variables";

.iframe {
    position: relative;
    overflow: hidden;
    padding-top: $iframe-aspect-ratio;
}

.iframe__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
