$font-family: "Georgia", "Times New Roman", "Times", serif;

@page {
    margin: 2cm;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: #fff !important;
    line-height: 1.3;
    color: #000;
    font-family: $font-family;
    font-size: 13pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 16pt 0;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 22pt;
}

h3 {
    font-size: 20pt;
}

h4 {
    font-size: 18pt;
}

h5 {
    font-size: 16pt;
}

h6 {
    font-size: 14pt;
}

p {
    margin: 12pt 0;
}

a {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
    page-break-inside: avoid;
    &[href^="http"] {
        &:after {
            content: " < " attr(href) "> ";
        }
    }
}

ul,
ol,
dl {
    page-break-before: avoid;
}

blockquote {
    page-break-inside: avoid;
}

img {
    page-break-inside: avoid;
    page-break-after: avoid;
}

table {
    border: 1pt solid #000;
    border-collapse: collapse;
    page-break-inside: avoid;
}

td,
th {
    border: 1pt solid #000;
    padding: 4pt;
}

iframe,
.iframe {
    display: none;
    height: 0 !important;
    width: 0 !important;
    line-height: 0pt !important;
    overflow: hidden !important;
    white-space: nowrap;
}

.silc-accordion__label {
    appearance: none;
    border: none;
    display: block;
    font-family: $font-family;
    font-size: 22pt;
    font-weight: 700;
    margin: 16pt 0;
    padding: 0;
}

.site-header,
.site-footer,
.share,
.carousel-holder,
.silc-nav,
.modal,
.tablesaw-cell-label,
[data-micromodal-trigger] {
    display: none;
}
