$silc-breadcrumb-margin: 1rem 0 !default;
$silc-breadcrumb-padding: 0 !default;
$silc-breadcrumb-seperator: "/" !default;
$silc-breadcrumb-link-color: black !default;
$silc-breadcrumb-border-color: black !default;
$silc-breadcrumb-font-weight: bold !default;
