$callout-align: center !default;
$callout-padding: 1rem !default;
$callout-bg-size: cover !default;
$callout-bg-position: center center !default;

$callout_title-size: 1.5rem !default;
$callout_title-weight: 700 !default;
$callout_title-margin: 0 0 1rem !default;

$callout_body-size: 1rem !default;
$callout_body-margin: 1rem 0 !default;
