.privacy-consent {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: rem(24);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    &[hidden],
    body:not(.js) & {
        display: none;
    }
}

.privacy-consent__buttons {
    .button {
        &:not(:last-child) {
            margin-right: rem(10);
        }
    }
}
