$silc-table-media-query: "800" !default;
$silc-table-thead-background-color: lighten(grey, 35%) !default;
$silc-table-border-color: lighten(grey, 35%) !default;
$silc-table-stripe-background: lighten(lightgrey, 10%) !default;
