$modal__overlay-background: rgba(0, 0, 0, 0.7) !default;

$modal__container-background: #fff !default;
$modal__container-padding: 30px !default;
$modal__container-max-width: 500px !default;
$modal__container-max-height: 100vh !default;
$modal__container-border-radius: 0 !default;

$modal__content-padding: 1rem 0 !default;

$modal__title-margin: 0 !default;

$modal__close_before-content: "\2715" !default;
