@import "~flickity/css/flickity";
@import "variables";

.carousel-holder {
    position: relative;
}

.carousel {
    background: gray;
}

.carousel__slide {
    width: 100%;
    text-align: center;
}

.carousel__slide-image {
    height: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: $silc-carousel-padding-top;
}

.carousel__slide-content {
    padding: $silc-carousel-slide-content-padding;
}

.carousel__nav {
    pointer-events: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.carousel__nav-sizer {
    width: 100%;
    padding-top: $silc-carousel-padding-top;
    height: 0;
    left: 0;
    top: 0;
}

.carousel__nav-previous,
.carousel__nav-next {
    pointer-events: initial;
    position: absolute;
    top: 50%;
    width: $silc-carousel-nav-button-width;
    height: $silc-carousel-nav-button-height;
    background-color: $silc-carousel-nav-button-background;
    transform: translateY(-50%);
    transition: $silc-carousel-nav-button-transition;
    &:hover {
        background-color: $silc-carousel-nav-button-hover-background;
        &::after {
            border-top: 0.25rem solid $silc-carousel-nav-arrow-hover-color;
            border-left: 0.25rem solid $silc-carousel-nav-arrow-hover-color;
        }
    }
    &::after {
        content: "";
        width: $silc-carousel-nav-arrow-width;
        height: $silc-carousel-nav-arrow-height;
        border-top: 0.25rem solid $silc-carousel-nav-arrow-color;
        border-left: 0.25rem solid $silc-carousel-nav-arrow-color;
        position: absolute;
        left: 50% + ($silc-carousel-nav-arrow-width / 4.5);
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        transition: $silc-carousel-nav-arrow-transition;
    }
}

.carousel__nav-previous {
    left: 0;
}

.carousel__nav-next {
    right: 0;
    &::after {
        left: 50% - ($silc-carousel-nav-arrow-width / 4.5);
        transform: translateX(-50%) translateY(-50%) rotate(135deg);
    }
}
