// Slide Images
$silc-carousel-padding-top: 56.25%;

// Prev/Next Buttons
$silc-carousel-nav-button-background: black !default;
$silc-carousel-nav-button-height: rem(55) !default;
$silc-carousel-nav-button-width: rem(55) !default;
$silc-carousel-nav-button-transition: 0.3s background-color ease-in-out !default;
$silc-carousel-nav-button-hover-background: grey !default;

// Arrows
$silc-carousel-nav-arrow-color: white !default;
$silc-carousel-nav-arrow-height: 35% !default;
$silc-carousel-nav-arrow-width: 35% !default;
$silc-carousel-nav-arrow-hover-color: white !default;
$silc-carousel-nav-arrow-transition: 0.3s border-color ease-in-out !default;

// Slide Content
$silc-carousel-slide-content-padding: 1rem;
