$blockquote-background: transparent !default;
$blockquote-color: $base-color !default;
$blockquote-margin: 0 auto !default;
$blockquote-padding: 0 !default;
$blockquote-max-width: none !default;

$blockquote_before-font-family: $base-font-family !default;
$blockquote_before-font-size: 4rem !default;
$blockquote_before-font-weight: 700 !default;
$blockquote_before-content: "“" !default;
$blockquote_before-height: 2rem !default;
$blockquote_before-line-height: 1 !default;

$blockquote_quote-font-family: $base-font-family !default;
$blockquote_quote-font-size: 1rem !default;
$blockquote_quote-line-height: $base-line-height !default;
$blockquote_quote-margin: 0 0 1rem !default;
$blockquote_quote-padding: 0 !default;

$blockquote_footer-font-family: $base-font-family !default;
$blockquote_footer-margin: 0 !default;
$blockquote_footer-padding: 0 !default;

$blockquote_author-font-size: 1rem !default;
$blockquote_author-font-weight: 400 !default;

$blockquote_source-font-size: 1rem !default;
$blockquote_source-font-weight: 400 !default;

$blockquote_portrait-width: 6.25rem !default; // 100px
$blockquote_portrait-aspect-ratio: 100% !default;
